# dependencies
**/node_modules
/modules/devtools

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/public
/db/*
/.env/*
/lib/*
.DS_Store

# misc
/toprint/*

# Logs
/logs/*.log
npm-debug.log*
yarn-error.log
yarn.lock

# Git files
*.orig
!.gitkeep
